.header {
  background-color: rgba(79, 79, 218, 0.718);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
::placeholder {
  color: rgba(79, 79, 218, 0.718);
}
.button {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
